@using CleanArchit.Domain.Models

@model Course
@{
    ViewData["Title"] = "Create Course";
}
<h1>@ViewData["Title"]</h1>

<div class="container-md">
    <form>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div >
            <label asp-for="Author"></label>
            <input type="text" asp-for="Author" />
        </div>
        <div>
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" />
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>