@using CleanArchit.Domain.Models

@model Course
@{
    ViewData["Title"] = "Create Course";
}
<h1>@ViewData["Title"]</h1>

<div class="container-md">

    <form method="post"> 
    <div asp-validation-summary="ModelOnly"/>
        <div>
            <label asp-for="Name"></label>
            <input type="text" data-val="true" data-val-required="The name field is required" asp-for="Name" />
            <span  class="valid_danger" asp-validation-for="Name"></span>
        </div>
        <div >
            <label asp-for="Author"></label>
            <input type="text" asp-for="Author" />
            <span class="valid_danger" asp-validation-for="Author"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" />
            <span class="valid_danger" asp-validation-for="Description"></span>
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
