@using CleanArchit.Application.ViewModels;
@model ViewCourseModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Courses</h1>
    <ul>
        @foreach(var item in Model.Courses)
        {
            <li>@item.Name</li
            <li>@item.Author</li>
        }
    </ul>
   
</div>
